#login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}

#login .container {
  margin-top: 50px;
}

#login .container #login-row #login-column #login-box {
  max-width: 600px;
  min-height: 350px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form .form-group {
  margin-bottom: 15px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: 10px;
  text-align: center;
}

#login .container #login-row #login-column #login-box #login-form input[type="submit"] {
  width: 100%;
  padding: 10px;
}
